
/* Custom stuff
-------------------------------------------------------------- */

.tagcloud {
  text-align: justify;
}

body {
  background-image: url(img/bg2.gif);
  background-position: right 40px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-color: #000000;
}

body a.noicon {
  background:transparent none !important;
  padding:0 !important;
  margin:0 !important;
}

/* Make sure the icons are not cut */
a[href^="http:"], a[href^="https:"],
a[href^="http:"]:visited, a[href^="https:"]:visited,
a[href^="mailto:"], a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"],
a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
  padding:2px 22px 2px 0;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}

/* External links */
a[href^="http:"]          { background-image: url(icons/external.png); }
a[href^="https:"]         { background-image: url(icons/lock.png); }
a[href^="mailto:"]        { background-image: url(icons/email.png); }
a[href^="http:"]:visited  { background-image: url(icons/visited.png); }

/* Files */
a[href$=".pdf"]   { background-image: url(icons/pdf.png); }
a[href$=".doc"]   { background-image: url(icons/doc.png); }
a[href$=".xls"]   { background-image: url(icons/xls.png); }

/* Misc */
a[href$=".rss"],
a[href$=".rdf"]   { background-image: url(icons/feed.png); }
a[href^="aim:"]   { background-image: url(icons/im.png); }

img.right {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}
.right {
    float: right !important;
}
article img {
  width: 100%;
  border-radius: 4px;
}

#branding {
  background: transparent url("img/coccinelle.png") no-repeat 0 0;
}

#branding hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #ddd;
}   

#branding h2 {
  font-size: 18px;
}

#deco {
  height: 5px;
  z-index: 1;
}
#branding h1{
  font-weight:normal;
  color:#fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 58px;
}

#branding a,
#branding a:hover,
#branding h2 {
	color:#EEE;
	text-decoration: none;
}
#branding h2 { margin-left: 80px; }

#left-content {
  background-color: #fff;
  background-color: rgba(255,255,255,1);
  border-radius: 4px;
  padding-top: 2px;
}
#sideBar {
  background-color: #fff;
  background-color: rgba(255,255,255,0.85);
  border-radius: 4px;
}

#left-content h1, #left-content h2 {
    background: none repeat scroll 0 0 #DDDDDD;
    line-height: 32px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.750);
    box-shadow: 0 2px 2px rgba(0,0,0,0.750);
}
h1 span {
    font-size: 12px;
    text-align: right;
    margin-left: 0px;
    font-style: italic;
}
h3 {
    background: none repeat scroll 0 0 #757575;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 2px 2px rgba(0,0,0,0.075);
}

div.topNav {
  font-size: 13px;
  margin-bottom: 5px;
}

.container .jumbotron {
  margin-bottom: 5px;
}

blockquote {
  font-style: italic;
  font-size: 15px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:first-child {
  display: inline;
}

div.tag {
  font-size: 12px;
}

.list-group-item h4 {
  color: #2f2f2f;
}
.page-header {
  margin-top: 21px;
}
.sideBarListBox .page-header {
  border-bottom: 0px;
  margin: 10px 0 2px;
  padding: 0px;
}
pre {
  color: #106825;
  border: 1px solid #106825;
  min-width: 400px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
pre code {
  overflow-wrap: normal;
  white-space: pre;
}
code {
  color: #106825;
  background-color: #e4e4e4;
}

#footer {
 margin-top: 15px;
}


.sideBarItem ul {
  padding: 0px;
}
.sideBarItem ul li {
  display: block;
  line-height: 30px;
  border-bottom: 1px dotted #CCC;
  font-size: 15px;
  font-weight: bold;
}
.sideBarItem ul li a, 
.sideBarItem ul li a:visited {
  color: #666;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-decoration: none;
}
.sideBarItem ul li a:hover{
  color: #3A3A3A;
  text-decoration: underline;
}
.effect {
    height:260px;
    float:left;
    overflow: hidden;
    position: relative;
}
a.effect {
    height: auto;
    width: 350px;
}
.effect img {
  margin: 0px;
  border: 5px solid #aaa;
}
a.effect img {
  border: 0px;
  margin-right: 2px;
}
.cover-right {
    top: 0px;
    left: 320px;
    position: absolute;
    width: 200px;
}
.cover-bottom {
    top: 221px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    padding-right: 5px;
    padding-left: 5px; 
}
.cover, 
.cover a,
.cover a:hover,
.cover a:visited {
  color: #eee;
  text-decoration: none;
  font-size: 14px;
}
.cover span {
  font-size: 11px;
}
.cover span a,
.cover span a:hover,
.cover span a:visited, 
.cover span a,
.cover span a:hover,
.cover span a:visited {
  color: #bbf;
  text-decoration: underline;
  font-size: 11px;
}

#sideBarContent {
  padding-top: 2px;
}

.post-excerpt-full {
  font-style: italic;
  padding-left: 15px;
}

#post-toc {
    background: #f1f1f1;
    box-shadow: 2px 2px 2px 0px #ccc;
    color: #ccc;
    border-radius: 4px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}
#post-toc .h1,
#post-toc .h2,
#post-toc .h3,
#post-toc .h4 {
    font-size: 12px;
    padding: 5px;
    margin: 0px;
}

#post-toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#post-toc li {
    padding: 5px 10px;
}

#post-toc a {
    text-decoration: none;
    display: block;
}

#post-toc .h2 {
    padding-left: 10px;
    margin-left: 10px;
    list-style-position: inside;
    list-style-image: initial;
    list-style-type: circle;
}

#post-toc .h3 {
    padding-left: 20px;
    margin-left: 20px;
    list-style-position: inside;
    list-style-image: initial;
    list-style-type: circle;
}

#post-toc .h4 {
    padding-left: 30px;
    margin-left: 30px;
    list-style-position: inside;
    list-style-image: initial;
    list-style-type: circle;
}

#left-content h2.home-header {
  background-color:#333;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  font-size: 18px;
}
.home-header a,
.home-header a:visited {
  color: #f0f0f0;
}

.post-details {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  z-index: 101;
  background-color: #222;
  background-color: rgba(0,0,0,0.7);
  color: #ddd;
}
.post-details a,
.post-details a:visited  {
  color: #bbf;
}
.post-excerpt {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  background-color: #f5f5f5;
}

.post-excerpt a,
.post-excerpt a:visited  {
  color: #555;
  font-size: 16px;
}
