---
layout: page
top: Archive
---

    <section>
        <table  class="archive">
            {% for post in site.categories[page.category] %}
            <tr>
                <td width="20%" class="time"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>  
                <td width="50%" class="title"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                <td class="category"><span class="category"><i class="icon-list"></i> {{post.categories | category_links}}</span></td>
            </tr>
            {% endfor %}
        </table>
    </section>
