---
layout: default
---

<article>
        <header>
            <h1>{{ page.title }}
            <br/><span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span>
            <span class="category"><i class="icon-list"></i> {{ page.categories | category_links }}</span>
            </h1>
        </header>

        <div class="entry">
          <img class="right" src="/theme/img/pic/{{ page.pic }}" width="260" alt="{{page.excerpt}}" title="{{page.excerpt}}" />
          {{ content }}
        </div>
        <div class="tag">{{page.tags  | tags_links}}</div>
</article>

