---
layout: default
top: Archives
---

<article>
        <header>
            <div class="page-header">
            <h1>{{ page.title }}
            <br/><span><i class="glyphicon glyphicon-time">&nbsp;</i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span>
            <span class="category"><i class="glyphicon glyphicon-list">&nbsp;</i> {{ page.categories | category_links }}</span>
            </h1>
            </div>
        </header>

        <div class="entry">
         <div class="col-md-6">
          <div class="post-excerpt-full">
          {{ page.excerpt }}
          </div>
          <div id="post-toc">
          </div>
         </div>
         <div class="col-md-6">
          <img class="topimg" src="/theme/img/pic/{{ page.pic }}" alt="{{page.excerpt}}" title="{{page.excerpt}}" />
         </div>
         <div class="row">
          <div class="col-md-12" id="post-full">
       
          {{ content }}

          </div>
         </div>
        </div>
        <div class="tag">Tags:&nbsp;{{page.tags  | tags_links}}</div>
</article>
<hr/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: * * */
    var disqus_shortname = "regilero";
    var disqus_identifier = '{{ page.uuid }}';
    var disqus_title = "{{ page.title }}";
    var disqus_url = '{{ site.url }}{{ page.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

